html
    head
        title #{ title }
        meta( charset='utf-8')
        link( rel="stylesheet", href="./css/master.css" )
    body
        h1 #{ title }
        div.princ 
            ul
                li
                    a( href="/" ) Home 
                li
                    a( href="/noticias" ) Noticias 
                li
                    a( href="/opinion" ) Opinion 
                li 
                    a( href="/economia" ) Economia 
                li 
                    a( href="/deportes") Deportes 
                li
                    a( href="/entretenimiento" ) Entretenimiento 
                li 
                    a( href="/cultura" ) Cultura 
                li 
                    a( href="/tecnologia" ) Tecnologia         
            main
                div.container Datos JSON     
                img( src="./images/happy.gif" )
                h3 #{ data[ "1566340217293" ].firstName  }
                ul
                    //-- li #{data}
                    for user in data
                        li #{ user .firstName }
        //-- comment 
            footer
                div.footer
        script( src="./js/master.js" )